.content-layout {
  width: 100%;
  /* background-color: green; */
  margin-top: 5rem;
}
.content-layout .container {
  max-width: 1250px;
  width: 100%;
  margin: auto;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 4rem;
}
@media (max-width: 800px) {
  .content-layout .container {
    grid-template-columns: 100%;
    width: 100%;
  }
}
